.color0 {
	background-color: red
}

.color1 {
	background-color: green;
}

.color2 {
	background-color: blue;
}

.color3 {
	background-color: cyan;
}

.color4 {
	background-color: magenta;
}

.color5 {
	background-color: yellow;
}

.color6 {
	background-color: black;
}